.loader {
  border: 6px solid red;
  border-top: 5px solid lightcoral;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  align-self: center;
  display: block;
  margin: auto;
}

.loader-container {
  width: 142px;
  height: 142px;
  display: block;
  margin: auto;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
