header{
    display: block;
    background-image: radial-gradient(circle,#7EA4BB,#456877);
    padding: 50px;
    text-shadow: 2px 2px 4px #3E748B;
}

body{
    background-color: #F8EED3;
}

h1{
    font-family: 'PT Sans', sans-serif;
    font-size: 82px;
    color: #000000;
    text-align: center;
    display: block;
    text-transform: capitalize;
}
